.rcd-tgui32x32{display:inline-block;width:32px;height:32px;background-image:url('asset.d27768bcd9ed02558fec2ab65ac34d5c.png');background-repeat:no-repeat;}
.rcd-tgui32x32.box1{background-position:-512px -0px;}
.rcd-tgui32x32.glasstable{background-position:-384px -0px;}
.rcd-tgui32x32.AtmosphericsGlass{background-position:-832px -0px;}
.rcd-tgui32x32.ExternalMaintenance{background-position:-1632px -0px;}
.rcd-tgui32x32.ResearchGlass{background-position:-1120px -0px;}
.rcd-tgui32x32.Engineering{background-position:-480px -0px;}
.rcd-tgui32x32.wallfloor{background-position:-96px -0px;}
.rcd-tgui32x32.ceast{background-position:-896px -0px;}
.rcd-tgui32x32.firebitem{background-position:-64px -0px;}
.rcd-tgui32x32.External{background-position:-1600px -0px;}
.rcd-tgui32x32.Standard{background-position:-1216px -0px;}
.rcd-tgui32x32.ExternalMaintenanceGlass{background-position:-1696px -0px;}
.rcd-tgui32x32.AirtightHatch{background-position:-1664px -0px;}
.rcd-tgui32x32.catwalk0{background-position:-672px -0px;}
.rcd-tgui32x32.Command{background-position:-1344px -0px;}
.rcd-tgui32x32.reflectorbase{background-position:-544px -0px;}
.rcd-tgui32x32.ExternalGlass{background-position:-1760px -0px;}
.rcd-tgui32x32.MedicalGlass{background-position:-1472px -0px;}
.rcd-tgui32x32.securewindoor{background-position:-1056px -0px;}
.rcd-tgui32x32.CommandGlass{background-position:-1280px -0px;}
.rcd-tgui32x32.Public{background-position:-224px -0px;}
.rcd-tgui32x32.stool{background-position:-32px -0px;}
.rcd-tgui32x32.MaintenanceHatch{background-position:-1728px -0px;}
.rcd-tgui32x32.windowsize{background-position:-192px -0px;}
.rcd-tgui32x32.windowsill0{background-position:-992px -0px;}
.rcd-tgui32x32.reinforcedwindow0{background-position:-928px -0px;}
.rcd-tgui32x32.PublicGlass{background-position:-352px -0px;}
.rcd-tgui32x32.Atmospherics{background-position:-640px -0px;}
.rcd-tgui32x32.Mining{background-position:-1408px -0px;}
.rcd-tgui32x32.Freezer{background-position:-1184px -0px;}
.rcd-tgui32x32.Pathology{background-position:-1248px -0px;}
.rcd-tgui32x32.girder{background-position:-768px -0px;}
.rcd-tgui32x32.Medical{background-position:-1376px -0px;}
.rcd-tgui32x32.table{background-position:-704px -0px;}
.rcd-tgui32x32.window0{background-position:-864px -0px;}
.rcd-tgui32x32.floodlightc1{background-position:-160px -0px;}
.rcd-tgui32x32.Maintenance{background-position:-1568px -0px;}
.rcd-tgui32x32.apc{background-position:-416px -0px;}
.rcd-tgui32x32.rack{background-position:-448px -0px;}
.rcd-tgui32x32.StandardGlass{background-position:-128px -0px;}
.rcd-tgui32x32.alarmbitem{background-position:-288px -0px;}
.rcd-tgui32x32.PathologyGlass{background-position:-1312px -0px;}
.rcd-tgui32x32.cnorth{background-position:-736px -0px;}
.rcd-tgui32x32.EngineeringGlass{background-position:-576px -0px;}
.rcd-tgui32x32.MiningGlass{background-position:-1504px -0px;}
.rcd-tgui32x32.windoor{background-position:-320px -0px;}
.rcd-tgui32x32.windowtype{background-position:-256px -0px;}
.rcd-tgui32x32.Research{background-position:-1536px -0px;}
.rcd-tgui32x32.csouth{background-position:-800px -0px;}
.rcd-tgui32x32.cwest{background-position:-960px -0px;}
.rcd-tgui32x32.MaintenanceGlass{background-position:-1440px -0px;}
.rcd-tgui32x32.bar{background-position:-0px -0px;}
.rcd-tgui32x32.Security{background-position:-1088px -0px;}
.rcd-tgui32x32.chair{background-position:-1024px -0px;}
.rcd-tgui32x32.bed{background-position:-608px -0px;}
.rcd-tgui32x32.SecurityGlass{background-position:-1152px -0px;}