.job_icons8x8{display:inline-block;width:8px;height:8px;background-image:url('asset.0b5380109980a48962e3f5c833b18051.png');background-repeat:no-repeat;}
.job_icons8x8.quartermaster{background-position:-80px -0px;}
.job_icons8x8.warden{background-position:-328px -0px;}
.job_icons8x8.signaltech{background-position:-16px -0px;}
.job_icons8x8.stationengineer{background-position:-40px -0px;}
.job_icons8x8.psychologist{background-position:-312px -0px;}
.job_icons8x8.medicaldoctor{background-position:-208px -0px;}
.job_icons8x8.barber{background-position:-280px -0px;}
.job_icons8x8.xenobiologist{background-position:-352px -0px;}
.job_icons8x8.skeleton{background-position:-32px -0px;}
.job_icons8x8.bartender{background-position:-24px -0px;}
.job_icons8x8.lawyer{background-position:-224px -0px;}
.job_icons8x8.dietwizard{background-position:-88px -0px;}
.job_icons8x8.chaplain{background-position:-264px -0px;}
.job_icons8x8.cargotechnician{background-position:-104px -0px;}
.job_icons8x8.securityofficer{background-position:-368px -0px;}
.job_icons8x8.mime{background-position:-192px -0px;}
.job_icons8x8.curator{background-position:-200px -0px;}
.job_icons8x8.captain{background-position:-176px -0px;}
.job_icons8x8.brigphysician{background-position:-360px -0px;}
.job_icons8x8.nanotrasenrepresentative{background-position:-184px -0px;}
.job_icons8x8.bridgeassistant{background-position:-240px -0px;}
.job_icons8x8.botanist{background-position:-56px -0px;}
.job_icons8x8.virologist{background-position:-272px -0px;}
.job_icons8x8.paramedic{background-position:-232px -0px;}
.job_icons8x8.securityassistant{background-position:-384px -0px;}
.job_icons8x8.discountgodzilla{background-position:-144px -0px;}
.job_icons8x8.detective{background-position:-344px -0px;}
.job_icons8x8.clown{background-position:-120px -0px;}
.job_icons8x8.headofpersonnel{background-position:-256px -0px;}
.job_icons8x8.headofsecurity{background-position:-304px -0px;}
.job_icons8x8.roboticist{background-position:-320px -0px;}
.job_icons8x8.explorer{background-position:-152px -0px;}
.job_icons8x8.scientist{background-position:-296px -0px;}
.job_icons8x8.cook{background-position:-72px -0px;}
.job_icons8x8.chemist{background-position:-248px -0px;}
.job_icons8x8.geneticist{background-position:-336px -0px;}
.job_icons8x8.yellowclown{background-position:-136px -0px;}
.job_icons8x8.gorilla{background-position:-160px -0px;}
.job_icons8x8.janitor{background-position:-96px -0px;}
.job_icons8x8.ghost{background-position:-112px -0px;}
.job_icons8x8.prisoner{background-position:-376px -0px;}
.job_icons8x8.shaftminer{background-position:-128px -0px;}
.job_icons8x8.chiefmedicalofficer{background-position:-168px -0px;}
.job_icons8x8.researchdirector{background-position:-288px -0px;}
.job_icons8x8.candysalesman{background-position:-48px -0px;}
.job_icons8x8.assistant{background-position:-8px -0px;}
.job_icons8x8.atmospherictechnician{background-position:-64px -0px;}
.job_icons8x8.blueshield{background-position:-216px -0px;}
.job_icons8x8.chiefengineer{background-position:-0px -0px;}