.bibles224x224{display:inline-block;width:224px;height:224px;background-image:url('asset.09ad5381ec5be7af94dd611a654a6b7d.png');background-repeat:no-repeat;}
.bibles224x224.display-insuls{background-position:-4032px -0px;}
.bibles224x224.display-gurugranthsahib{background-position:-672px -0px;}
.bibles224x224.display-scrapbook{background-position:-1120px -0px;}
.bibles224x224.display-honk1{background-position:-2912px -0px;}
.bibles224x224.display-holylight{background-position:-2240px -0px;}
.bibles224x224.display-kojiki{background-position:-4256px -0px;}
.bibles224x224.display-necronomicon{background-position:-2016px -0px;}
.bibles224x224.display-tome{background-position:-3136px -0px;}
.bibles224x224.display-kingyellow{background-position:-3584px -0px;}
.bibles224x224.display-melted{background-position:-1568px -0px;}
.bibles224x224.display-shot{background-position:-4480px -0px;}
.bibles224x224.display-ebook{background-position:-3808px -0px;}
.bibles224x224.display-ithaqua{background-position:-224px -0px;}
.bibles224x224.display-koran{background-position:-448px -0px;}
.bibles224x224.display-burning{background-position:-2464px -0px;}
.bibles224x224.display-white{background-position:-1792px -0px;}
.bibles224x224.display-atheist{background-position:-2688px -0px;}
.bibles224x224.display-bible{background-position:-0px -0px;}
.bibles224x224.display-honk2{background-position:-3360px -0px;}
.bibles224x224.display-creeper{background-position:-1344px -0px;}
.bibles224x224.display-scientology{background-position:-896px -0px;}