.chat16x16{display:inline-block;width:16px;height:16px;background-image:url('asset.f460064ceaf8d4800c3545a78c4dd6f5.png');background-repeat:no-repeat;}
.chat16x16.emoji-plizard{background-position:-448px -0px;}
.chat16x16.emoji-gift{background-position:-2624px -0px;}
.chat16x16.emoji-pensive{background-position:-3344px -0px;}
.chat16x16.emoji-notice{background-position:-3520px -0px;}
.chat16x16.emoji-clocky{background-position:-1920px -0px;}
.chat16x16.emoji-clap{background-position:-3472px -0px;}
.chat16x16.emoji-door{background-position:-2336px -0px;}
.chat16x16.emoji-disk{background-position:-784px -0px;}
.chat16x16.emoji-engie{background-position:-896px -0px;}
.chat16x16.emoji-charged{background-position:-3536px -0px;}
.chat16x16.emoji-ninja{background-position:-160px -0px;}
.chat16x16.emoji-burger{background-position:-1520px -0px;}
.chat16x16.emoji-bear{background-position:-2048px -0px;}
.chat16x16.emoji-skull{background-position:-3392px -0px;}
.chat16x16.language-neko{background-position:-3984px -0px;}
.chat16x16.emoji-revolver{background-position:-688px -0px;}
.chat16x16.emoji-poly{background-position:-1792px -0px;}
.chat16x16.language-codespeak{background-position:-3408px -0px;}
.chat16x16.emoji-unknownman{background-position:-496px -0px;}
.chat16x16.language-calcic{background-position:-3968px -0px;}
.chat16x16.emoji-fedora{background-position:-2128px -0px;}
.chat16x16.emoji-cat{background-position:-16px -0px;}
.chat16x16.emoji-mtool{background-position:-3136px -0px;}
.chat16x16.emoji-carp{background-position:-1712px -0px;}
.chat16x16.emoji-gondy{background-position:-2304px -0px;}
.chat16x16.emoji-redban{background-position:-1936px -0px;}
.chat16x16.emoji-pmoth{background-position:-3552px -0px;}
.chat16x16.emoji-xeno{background-position:-368px -0px;}
.chat16x16.emoji-toolbox{background-position:-0px -0px;}
.chat16x16.language-animal{background-position:-2960px -0px;}
.chat16x16.emoji-snya{background-position:-720px -0px;}
.chat16x16.emoji-haxxor{background-position:-2176px -0px;}
.chat16x16.emoji-sci{background-position:-1696px -0px;}
.chat16x16.emoji-cone{background-position:-2528px -0px;}
.chat16x16.emoji-cock{background-position:-2256px -0px;}
.chat16x16.emoji-cut{background-position:-3168px -0px;}
.chat16x16.emoji-cult{background-position:-1152px -0px;}
.chat16x16.emoji-call{background-position:-3200px -0px;}
.chat16x16.nif-soulcatcher{background-position:-4128px -0px;}
.chat16x16.emoji-rune{background-position:-1216px -0px;}
.chat16x16.language-slime{background-position:-3104px -0px;}
.chat16x16.emoji-flock{background-position:-1648px -0px;}
.chat16x16.emoji-ai{background-position:-272px -0px;}
.chat16x16.emoji-peel{background-position:-2096px -0px;}
.chat16x16.emoji-slime{background-position:-816px -0px;}
.chat16x16.emoji-eyes{background-position:-1280px -0px;}
.chat16x16.emoji-chrono{background-position:-2752px -0px;}
.chat16x16.language-moth{background-position:-3840px -0px;}
.chat16x16.emoji-frog{background-position:-2080px -0px;}
.chat16x16.emoji-med{background-position:-1680px -0px;}
.chat16x16.emoji-drone{background-position:-1072px -0px;}
.chat16x16.language-torii{background-position:-3856px -0px;}
.chat16x16.emoji-thelaw{background-position:-96px -0px;}
.chat16x16.emoji-tea{background-position:-2192px -0px;}
.chat16x16.emoji-head{background-position:-128px -0px;}
.chat16x16.emoji-pratvar{background-position:-2224px -0px;}
.chat16x16.emoji-closet{background-position:-2976px -0px;}
.chat16x16.emoji-squint{background-position:-1392px -0px;}
.chat16x16.emoji-pbubblegum{background-position:-2064px -0px;}
.chat16x16.language-unknown{background-position:-4032px -0px;}
.chat16x16.emoji-capgun{background-position:-576px -0px;}
.chat16x16.emoji-dragon{background-position:-3616px -0px;}
.chat16x16.nif-standard{background-position:-4096px -0px;}
.chat16x16.emoji-meatball{background-position:-1824px -0px;}
.chat16x16.emoji-change{background-position:-2544px -0px;}
.chat16x16.emoji-barrp{background-position:-3952px -0px;}
.chat16x16.language-buzz{background-position:-3488px -0px;}
.chat16x16.emoji-rad{background-position:-3504px -0px;}
.chat16x16.language-golem{background-position:-4016px -0px;}
.chat16x16.emoji-pen{background-position:-80px -0px;}
.chat16x16.emoji-paper{background-position:-112px -0px;}
.chat16x16.emoji-goliathold{background-position:-2352px -0px;}
.chat16x16.emoji-plunge{background-position:-3296px -0px;}
.chat16x16.emoji-iv{background-position:-3936px -0px;}
.chat16x16.emoji-pepper{background-position:-1888px -0px;}
.chat16x16.emoji-shroom{background-position:-2480px -0px;}
.chat16x16.language-volt{background-position:-4080px -0px;}
.chat16x16.emoji-d6{background-position:-176px -0px;}
.chat16x16.emoji-beer{background-position:-1872px -0px;}
.chat16x16.emoji-weld{background-position:-2864px -0px;}
.chat16x16.emoji-medbot{background-position:-656px -0px;}
.chat16x16.emoji-flushed{background-position:-2240px -0px;}
.chat16x16.emoji-portal{background-position:-3888px -0px;}
.chat16x16.emoji-grab{background-position:-1632px -0px;}
.chat16x16.emoji-codex{background-position:-4000px -0px;}
.chat16x16.emoji-book{background-position:-3024px -0px;}
.chat16x16.emoji-swarmer{background-position:-2112px -0px;}
.chat16x16.emoji-cuffs{background-position:-3232px -0px;}
.chat16x16.emoji-cam{background-position:-2832px -0px;}
.chat16x16.emoji-cyka{background-position:-1104px -0px;}
.chat16x16.emoji-disarm{background-position:-1536px -0px;}
.chat16x16.emoji-ambrosia{background-position:-1456px -0px;}
.chat16x16.emoji-pop{background-position:-672px -0px;}
.chat16x16.emoji-hug{background-position:-400px -0px;}
.chat16x16.emoji-sup{background-position:-1728px -0px;}
.chat16x16.language-ratvar{background-position:-3008px -0px;}
.chat16x16.emoji-meat{background-position:-2672px -0px;}
.chat16x16.emoji-real{background-position:-2288px -0px;}
.chat16x16.emoji-lsd{background-position:-1584px -0px;}
.chat16x16.emoji-capid{background-position:-256px -0px;}
.chat16x16.emoji-wiz{background-position:-2416px -0px;}
.chat16x16.emoji-monkey{background-position:-288px -0px;}
.chat16x16.emoji-crowbar{background-position:-3072px -0px;}
.chat16x16.emoji-staff{background-position:-2608px -0px;}
.chat16x16.emoji-shades{background-position:-992px -0px;}
.chat16x16.emoji-liz{background-position:-2016px -0px;}
.chat16x16.emoji-sick{background-position:-3584px -0px;}
.chat16x16.emoji-pslime{background-position:-704px -0px;}
.chat16x16.emoji-queen{background-position:-1088px -0px;}
.chat16x16.emoji-harm{background-position:-1664px -0px;}
.chat16x16.emoji-gear{background-position:-2448px -0px;}
.chat16x16.language-lizard{background-position:-3808px -0px;}
.chat16x16.language-ashtongue{background-position:-3824px -0px;}
.chat16x16.emoji-patreon{background-position:-3424px -0px;}
.chat16x16.emoji-pest{background-position:-2704px -0px;}
.chat16x16.language-galcom{background-position:-3696px -0px;}
.chat16x16.emoji-q{background-position:-1136px -0px;}
.chat16x16.emoji-trap{background-position:-3712px -0px;}
.chat16x16.emoji-superhappy{background-position:-624px -0px;}
.chat16x16.emoji-toysword{background-position:-336px -0px;}
.chat16x16.emoji-camera{background-position:-1776px -0px;}
.chat16x16.emoji-fpalm{background-position:-2912px -0px;}
.chat16x16.emoji-bottle{background-position:-3248px -0px;}
.chat16x16.emoji-maint{background-position:-1504px -0px;}
.chat16x16.emoji-brain{background-position:-1040px -0px;}
.chat16x16.emoji-singulo{background-position:-832px -0px;}
.chat16x16.emoji-coffee{background-position:-2144px -0px;}
.chat16x16.emoji-plasmeme{background-position:-2880px -0px;}
.chat16x16.emoji-face{background-position:-608px -0px;}
.chat16x16.emoji-cake{background-position:-3600px -0px;}
.chat16x16.emoji-donut{background-position:-1760px -0px;}
.chat16x16.emoji-mad{background-position:-48px -0px;}
.chat16x16.emoji-sbomb{background-position:-3280px -0px;}
.chat16x16.language-darkspeak{background-position:-3776px -0px;}
.chat16x16.emoji-exclamation{background-position:-1168px -0px;}
.chat16x16.language-goblin{background-position:-3904px -0px;}
.chat16x16.emoji-down{background-position:-1232px -0px;}
.chat16x16.emoji-blob{background-position:-32px -0px;}
.chat16x16.emoji-evilcrab{background-position:-2656px -0px;}
.chat16x16.emoji-burn{background-position:-1376px -0px;}
.chat16x16.emoji-popcorn{background-position:-1488px -0px;}
.chat16x16.emoji-cultie{background-position:-768px -0px;}
.chat16x16.emoji-sad{background-position:-464px -0px;}
.chat16x16.emoji-box{background-position:-2928px -0px;}
.chat16x16.emoji-clean{background-position:-416px -0px;}
.chat16x16.emoji-headset{background-position:-2944px -0px;}
.chat16x16.emoji-forcesword{background-position:-2560px -0px;}
.chat16x16.emoji-up{background-position:-1120px -0px;}
.chat16x16.emoji-rainhonk{background-position:-1344px -0px;}
.chat16x16.language-eal{background-position:-2800px -0px;}
.chat16x16.emoji-stamp{background-position:-3088px -0px;}
.chat16x16.emoji-b{background-position:-3360px -0px;}
.chat16x16.emoji-bluban{background-position:-2032px -0px;}
.chat16x16.language-galuncom{background-position:-3744px -0px;}
.chat16x16.emoji-bball{background-position:-1856px -0px;}
.chat16x16.emoji-pigman{background-position:-640px -0px;}
.chat16x16.emoji-charging{background-position:-3440px -0px;}
.chat16x16.emoji-on{background-position:-2992px -0px;}
.chat16x16.emoji-tophat{background-position:-2592px -0px;}
.chat16x16.emoji-happy{background-position:-560px -0px;}
.chat16x16.emoji-eng{background-position:-1616px -0px;}
.chat16x16.language-bloodsucker{background-position:-3872px -0px;}
.chat16x16.emoji-kudzu{background-position:-2720px -0px;}
.chat16x16.emoji-cola{background-position:-3264px -0px;}
.chat16x16.language-plant{background-position:-4048px -0px;}
.chat16x16.emoji-owlman{background-position:-592px -0px;}
.chat16x16.emoji-larva{background-position:-3632px -0px;}
.chat16x16.emoji-cow{background-position:-848px -0px;}
.chat16x16.emoji-paperwrote{background-position:-144px -0px;}
.chat16x16.emoji-donut2{background-position:-1808px -0px;}
.chat16x16.emoji-pnarsie{background-position:-2432px -0px;}
.chat16x16.emoji-jannie{background-position:-3920px -0px;}
.chat16x16.emoji-supermatter{background-position:-2512px -0px;}
.chat16x16.emoji-reallyhappy{background-position:-480px -0px;}
.chat16x16.emoji-flash{background-position:-1200px -0px;}
.chat16x16.emoji-whiskey{background-position:-1968px -0px;}
.chat16x16.emoji-jerry{background-position:-976px -0px;}
.chat16x16.emoji-newcop{background-position:-928px -0px;}
.chat16x16.emoji-riot{background-position:-864px -0px;}
.chat16x16.emoji-thinking{background-position:-1552px -0px;}
.chat16x16.emoji-paperman{background-position:-2736px -0px;}
.chat16x16.emoji-plant{background-position:-2896px -0px;}
.chat16x16.emoji-unepipe{background-position:-1264px -0px;}
.chat16x16.emoji-sink{background-position:-3728px -0px;}
.chat16x16.emoji-surprised{background-position:-352px -0px;}
.chat16x16.emoji-onisoma{background-position:-1296px -0px;}
.chat16x16.language-beach{background-position:-3760px -0px;}
.chat16x16.emoji-syndie{background-position:-1600px -0px;}
.chat16x16.emoji-trophy{background-position:-2688px -0px;}
.chat16x16.emoji-hip{background-position:-752px -0px;}
.chat16x16.emoji-aid{background-position:-2000px -0px;}
.chat16x16.emoji-wrench{background-position:-3568px -0px;}
.chat16x16.emoji-snek{background-position:-1984px -0px;}
.chat16x16.emoji-tile{background-position:-1056px -0px;}
.chat16x16.emoji-neigh{background-position:-240px -0px;}
.chat16x16.emoji-d20{background-position:-192px -0px;}
.chat16x16.emoji-malf{background-position:-1904px -0px;}
.chat16x16.emoji-jack{background-position:-3040px -0px;}
.chat16x16.emoji-id{background-position:-224px -0px;}
.chat16x16.emoji-flashbang{background-position:-1248px -0px;}
.chat16x16.emoji-bandaid{background-position:-3216px -0px;}
.chat16x16.emoji-ian{background-position:-320px -0px;}
.chat16x16.emoji-yes{background-position:-800px -0px;}
.chat16x16.emoji-thenews{background-position:-1440px -0px;}
.chat16x16.emoji-wetfloorsign{background-position:-64px -0px;}
.chat16x16.emoji-screw{background-position:-2784px -0px;}
.chat16x16.language-xeno{background-position:-2848px -0px;}
.chat16x16.language-popcorn{background-position:-3664px -0px;}
.chat16x16.emoji-hugbox{background-position:-1568px -0px;}
.chat16x16.emoji-medal{background-position:-2160px -0px;}
.chat16x16.emoji-bible{background-position:-3056px -0px;}
.chat16x16.emoji-nuke{background-position:-2384px -0px;}
.chat16x16.emoji-pizza{background-position:-2400px -0px;}
.chat16x16.emoji-sec{background-position:-1744px -0px;}
.chat16x16.emoji-fire{background-position:-3312px -0px;}
.chat16x16.emoji-flush{background-position:-2208px -0px;}
.chat16x16.language-wawa{background-position:-4064px -0px;}
.chat16x16.emoji-conbaton{background-position:-3648px -0px;}
.chat16x16.emoji-heart{background-position:-512px -0px;}
.chat16x16.emoji-taser{background-position:-2816px -0px;}
.chat16x16.emoji-honkman{background-position:-384px -0px;}
.chat16x16.emoji-viva{background-position:-944px -0px;}
.chat16x16.language-swarmer{background-position:-3152px -0px;}
.chat16x16.emoji-chick{background-position:-912px -0px;}
.chat16x16.emoji-plague{background-position:-1312px -0px;}
.chat16x16.language-drone{background-position:-3328px -0px;}
.chat16x16.emoji-twitch{background-position:-3456px -0px;}
.chat16x16.emoji-silentman{background-position:-432px -0px;}
.chat16x16.emoji-cardborg{background-position:-960px -0px;}
.chat16x16.emoji-rollie{background-position:-1360px -0px;}
.chat16x16.emoji-u{background-position:-1024px -0px;}
.chat16x16.emoji-salt{background-position:-1408px -0px;}
.chat16x16.emoji-joy{background-position:-1424px -0px;}
.chat16x16.emoji-tada{background-position:-1184px -0px;}
.chat16x16.language-pirate{background-position:-3376px -0px;}
.chat16x16.emoji-honk{background-position:-1840px -0px;}
.chat16x16.emoji-vomit{background-position:-1952px -0px;}
.chat16x16.language-narsie{background-position:-3680px -0px;}
.chat16x16.emoji-off{background-position:-3184px -0px;}
.chat16x16.emoji-pete{background-position:-1008px -0px;}
.chat16x16.emoji-dosh{background-position:-2320px -0px;}
.chat16x16.emoji-bluetank{background-position:-208px -0px;}
.chat16x16.language-aphasia{background-position:-3792px -0px;}
.chat16x16.emoji-candycorn{background-position:-2640px -0px;}
.chat16x16.emoji-pbee{background-position:-528px -0px;}
.chat16x16.emoji-eggplant{background-position:-2272px -0px;}
.chat16x16.emoji-nya{background-position:-2496px -0px;}
.chat16x16.emoji-pill{background-position:-3120px -0px;}
.chat16x16.emoji-ling{background-position:-736px -0px;}
.chat16x16.emoji-c4{background-position:-1328px -0px;}
.chat16x16.emoji-goliath{background-position:-2464px -0px;}
.chat16x16.emoji-swatter{background-position:-2368px -0px;}
.chat16x16.emoji-igloves{background-position:-544px -0px;}
.chat16x16.emoji-plasmiley{background-position:-2576px -0px;}
.chat16x16.emoji-no{background-position:-880px -0px;}
.chat16x16.emoji-psnake{background-position:-304px -0px;}
.chat16x16.emoji-help{background-position:-1472px -0px;}
.chat16x16.emoji-arrrman{background-position:-2768px -0px;}
.chat16x16.nif-phone{background-position:-4112px -0px;}